@font-face {
    font-family:"Avenir-Book";
    src:url("Avenir-Book-01.woff2") format("woff2"),url("Avenir-Book-01.woff") format("woff"),url("Avenir-Book-01.otf") format("opentype");
    font-style:normal;font-weight:400;
}
@font-face {
    font-family:"Avenir-Black";
    src:url("Avenir-Black-03.woff2") format("woff2"),url("Avenir-Black-03.woff") format("woff"),url("Avenir-Black-03.otf") format("opentype");
    font-style:normal;font-weight:400;
}
@font-face {
    font-family:"MinionPro-Regular";
    src:url("MinionPro-Regular.woff2") format("woff2"),url("MinionPro-Regular.woff") format("woff"),url("MinionPro-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}

body, html{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

.ABlack, h1, .menu, .downpad {
  font-family: "Avenir-Black"!important;
}

.ABook, .slides, html {
  font-family: "Avenir-Book";
}

@media (max-width: 1023px) {
  .flex .col-5-12{
    padding-bottom:0px;
  }
  .content {
    z-index: 50;
  }
}

.quote-1 {
  position: fixed;
  left: 70%;
  top: 60%;
  font-family: "Avenir-Black";
  line-height: 29px;
  color: white;
}


.quote-2 {
  position: absolute;
  left: 70%;
  top: 60%;
  font-family: "Avenir-Black";
  line-height: 29px;
  color: white;
  z-index: 20;
}
@media (max-width: 1023px) {
  .quote-2,.quote-1{
    position: absolute !important;
    margin: auto;
    left: auto;
    right: 5%;
    top: 0;
    bottom: 0;
    width: auto !important;
    min-width: 220px;   
  }
  .quote-2{
    height: 114px !important;
  }
  .quote-1{
    height: 180px !important;
  }
  .quote-2 .blok, .quote-1 .blok{
    position: absolute !important;
    top: 10px !important;
    display: block;
    width: 70px;
    height: 8px;
    background-color: white;
  }
  .quote-2 .quote, .quote-1 .quote{
    position: absolute !important;
    top: 5px !important;
    left: 0;
    vertical-align: top;
    padding: 0;
    margin: 0;
    font-size: 18px;
    opacity: 1;
    line-height: 1.235;
  }
  .quote-1 .button {
    padding: 8px 25px 8px;
    font-size: 18px;
    margin: 20px 0 0 0 !important;
  }
  
}

.quote-2 u {
  text-decoration: none;
  font-size: 14px;
  clear: both;
  display: block;
  padding: 20px 0 0 0;
}

.quote-1 .quote,
.quote-2 .quote {
  padding-top: 25px;
}

.blok{
  display: block;
  width: 120px;
  height: 10px;
  background-color: white;
}
.quote-3{
  font-family: "Avenir-Black";
  line-height: 29px;
  color: black;
}
.quote-3 .quote {
  padding-top: 20px;
}
.quote-3 .blok{
  background-color: black;
}
@media (max-width: 1023px) {
  #logo path{
    fill: #ffffff;
  }
  .diensten.top{
    color: #ffffff;
  }
}
.top-image {
  position: relative;
  left: 0;
  right: 0;
  width: 100%;
  height: 37vh;
  /*min-height: 340px;*/
  top: 0%;
  overflow: hidden;
  z-index: 100;

}
.top-image span.ellen {
  background-image: url(../assets/images/Ellen-Van-Onselen.jpg);
  background-position: 50% 57%;
  background-size: cover;
}
.top-image span.house {
  background-image: url(../assets/images/house.jpg);
  background-position: left bottom;
}
@media (max-width: 1023px) {
  .container .wrap:not(.noSpaces),
  .container .wrap.spaceWrap, .container .wrap .spaceWrap {
      padding: 37vh calc(8% + 15px) 100px calc(8% + 15px);
  }
  #gradient {
    height: 100%;
  }
}
.fixedimage {
  position: fixed;
  left: 58.33333%;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0%;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .stage-2 .fixedimage{
    left: 0;
  }
}
.stage-3 .fixedimage {
  z-index: 12;
}
@media (max-width: 1023px) {
  .stage-3 .fixedimage {
    z-index: -1;
    display: none;
    width: 0%;
    background-color: #fff;
  }
  .stage-3 .slide.animate .fixedimage {
    z-index: -1;
    display: none;
    width: 0%;
    background-color: #fff;
  }
}

.fixedimage span,
.top-image span {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 5s cubic-bezier(.3,0,.7,1), opacity 1s ease;
  transition: transform 5s cubic-bezier(.3,0,.7,1), opacity 1s ease;
  -webkit-transform: scale(1);
  -ms-transform: scale(1) rotate(0deg);
  -moz-transform: scale(1) rotate(0deg);
  transform: scale(1);
}
.fixedimage span.ellen{
  background-image: url(../assets/images/Ellen-Van-Onselen.jpg);
}
.fixedimage span.house {
  background-image: url(../assets/images/house.jpg);
  background-position: left bottom;
}
.selected .fixedimage span {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05) rotate(-0.02deg);
  -moz-transform: scale(1.05) rotate(-0.02deg);
  transform: scale(1.05);
}

.right-desk{
  width: 41vw !important;
  display: block !important;
  right: 0;
  position: absolute;
}
.swiper-container {
  height: 350px;
  margin-left: -7%;
  width: 108%;
  background-color: #ebefef;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #ebefef;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-button-next,
.swiper-button-prev{
  height: 380px;
  width: 11.111%;
  background-color: #ffffff;
  bottom: -15px;
  background-image: none;

}
.swiper-button-next{  
  right: -16px;
  top: auto;
  -webkit-box-shadow: -12px 0px 17px -2px rgba(0,0,0,0.2);
  -moz-box-shadow: -12px 0px 17px -2px rgba(0,0,0,0.2);
  box-shadow: -12px 0px 17px -2px rgba(0,0,0,0.2);
}
.swiper-button-prev{
  left: auto;
  right: 97%;
  top: auto;
  -webkit-box-shadow: 12px 0px 17px -2px rgba(0,0,0,0.2);
  -moz-box-shadow: 12px 0px 17px -2px rgba(0,0,0,0.2);
  box-shadow: 12px 0px 17px -2px rgba(0,0,0,0.2);
}
.swiper-button-next svg.arrow-down,
.swiper-button-prev svg.arrow-down{
  position: absolute;
  width: 97%;
  height: 60px;
  top: 168px;
  stroke-dasharray: 182;
  stroke-dashoffset: 80;
  -moz-transition:all .6s;
  -o-transition:all .6s;
  -webkit-transition:all .6s;
  transition:all .6s;
}
.swiper-button-next svg.arrow-down{
    transform: rotate(-90deg);
}
.swiper-button-prev svg.arrow-down{
    transform: rotate(90deg);
    stroke-width:1 !important;
}
.swiper-button-next .arrow-down{
  stroke-width:1 !important;
}
.swiper-button-next:hover svg.arrow-down,
.swiper-button-prev:hover svg.arrow-down{
  stroke-dasharray: 182;/*50*/
  stroke-dashoffset: 360;/*-25*/
}    

.downbox {
  width: 250px !important;
  height: 320px !important;
  background-color: rgb(93, 225, 188);
  display: block;
}
@media (max-width: 1470px) {
  .downbox {
    width: 225px !important;
  }
}
@media (max-width: 1360px) {
  .downbox {
    width: 206px !important;
  }
}
@media (max-width: 1290px) {
  .downbox {
    width: 100% !important;
  }
}
@media (max-width: 640px) {
  .downbox {
    width: 80% !important;
    text-align: center !important; 
  }
}
.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -3px;
}
.downpad {
  padding: 34px 17px 17px 17px;
}
.downpad h3 {
  padding-top: 12px;
}
.downpad .button {
  font-size: 16px;
}
.button.rounded {
    border-radius: 12px;
}
.button {
  padding: 8px 50px 8px;
  margin: 0px!important;
}

@media (max-width: 1470px) {
  .downbox .downpad .button {
    padding: 8px 30px 8px;
    font-size: 14px;
  }
  .downbox .downpad h3{
    font-size: 22px;
  }
}
@media (max-width: 1230px) {
  .downbox .downpad .button {
    padding: 8px 20px 8px;
    font-size: 13px;
  }
  .downbox .downpad h3{
    font-size: 21px;
  }
}
@media (max-width: 1023px) {
  .downbox .downpad .button {
    padding: 8px 20px 8px;
  }
  .downbox .downpad h3{
    font-size: 20px;
  }
}

h1 {
  margin-bottom: 60px;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjojMkVCNUFBOyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOiM2M0UwQkQ7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, left top, 90deg, color-stop(0%, #2EB5AA), color-stop(100%, #63E0BD));/**/
  background-image: -moz-linear-gradient(90deg,#2EB5AA 0%,#63E0BD 100%);
  background-image: -webkit-linear-gradient(90deg,#2EB5AA 0%,#63E0BD 100%);
  background-image: -o-linear-gradient(90deg,#2EB5AA 0%,#63E0BD 100%);
  background-image: -ms-linear-gradient(90deg,#2EB5AA 0%,#63E0BD 100%);
  background-image: linear-gradient(90deg,#2EB5AA 0%,#63E0BD 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position:relative;
  display:inline-block; 
}

.menu a {
  color: #EC3A55;
  font-size: 14px !important;
}

body:not(.stage-1) .menu a{
  color: #ffffff;
  font-size: 14px !important;
}
@media (max-width: 1200px) {
  .menu a {
    font-size: 12px !important;
    padding: 4px 3px 5px !important;
  }
  body:not(.stage-1) .menu a{
    font-size: 12px !important;
    padding: 4px 3px 5px !important;
  }
  .panel .sections .menu li {
    margin: 0 7px !important;
  }
}

.slides.whiteSlide .stroke .navigation li::after {
  border-color: #22B6AA!important;
  background: transparent;
}
.slides.whiteSlide .stroke .navigation li.selected::after {
  background: #22B6AA!important;
}
.intro-1 {
  padding-top: 150px;
  padding-bottom: 150px;
}
@media (max-width: 1023px) {
  .intro-1 {
    padding-top: 0px;
  }
}

.diensten {
  color: rgb(0, 120, 121);
  font-size: 12px;
}

.pad-59 {
  padding-top: 48px;
  border-radius: 12px!important;
}

.reset-overflow{
    overflow: visible;
}

.downer svg {
  width: 72px;
}

.bdown {
  width: 100%;
  height: 45px;
  margin-bottom: -32px !important;
  box-shadow: none!important;
}


.h1fix {
  position: fixed;
  top: 180px;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  width: 1114px;
}


@media (max-width: 1360px) {
  .h1fix {
    padding-left: calc(2vw);
  }
}
@media (max-width: 1300px) {
  .h1fix {
    padding-left: calc(2vw + 20px);
  }
}
@media (max-width: 1280px) {
  .h1fix {
    padding-left: calc(2vw + 82px);
  }
}
@media (max-width: 1023px) {
  .h1fix {
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    margin-right: 0;
    margin-left: 0;
    width: auto;
    padding-left: 42px;
    padding-top: 30px;
  }
  .h1fix h1{
    margin-bottom: 0;
  }
  .h1fixr {
    padding-top: 30px;
  }
}
.blackline {
  width: 107px;
  height: 8px;
  display: block;
  background-color: #000000;
}
@media (max-width: 640px) {
  .blackline {
    width: 45px;
    margin-left: -66px;
    height: 8px;
    display: inline-block;
    background-color: #000000;
  }
}

.downpad {
  padding: 34px 17px 17px 17px;
}
.downpad h3 {
  padding-top: 12px;
}
.downpad .button {
  font-size: 16px;
}

.red {
  background-color: #E6706D!important;
  color: white!important;
  max-width: 100%
}

.green {
  background-color: rgb(34, 182, 170)!important;
}

p.small, .small {
    font-size: 20px!important;
    line-height: 26px!important;
    padding-bottom: 26px;
}

ol.small li {
  list-style: decimal!important;
}

ol.small li:last-child {
  padding-top: 24px;
}

.underlined{
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.underlined:after {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #303030;
  height: 2px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.underlined:hover:after, .underlined:focus:after, .underlined:active:after {
  left: 100%;
}

.slider-logos{
  position: fixed;
  right: 2px;
  top: 0;
  width: 41%;
  height: 100vh;
}
@media (max-width: 1023px) {
  .slider-logos{
    height: 100%;
    position: absolute;
  }
}
.center-middle {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 60%; 
  width: 80%;
}
@media (max-width: 1023px) {
  .center-middle {
    top: 50%; 
  }
}
.center-middle li{
  width: 100%;
  display: inline-block;
  text-align: center;
}



h1 {
  font-weight: 400!important;
}



p.micro, .p.micro {
    font-size: 14px!important;
    margin-bottom: 0px!important;
}

ul.contact-list{
  font-size: 24px;
  line-height: 1.385;
  padding-bottom: 20px;
}
ul.contact-list li a{
  display: block;
  line-height: 1.2;
  height: 56px;
  margin-bottom: 30px;
}
ul.contact-list li a span{
  padding-left: 20px;
  display: inline-block;
}
.full-height{
  line-height: 56px;
}

#email-icon{
  width: 56px;
  float: left;
  position: relative;
  clear: both;
}
#email-icon .cls-1{fill:none;}
#email-icon .cls-2{clip-path:url(#clip-path);}
#email-icon .cls-3{fill:#5de0bb;}
#email-icon .cls-4{fill:#007879;}
#email-icon .cls-5{fill:#fff;}
#email-icon .cls-3,
#email-icon .cls-4,
#email-icon .cls-5{
  -webkit-transition: all .35s ease-in-out; 
    transition: all .35s ease-in-out;
}
#email-icon:hover{
  opacity: 1;
}
ul.contact-list li a:hover #email-icon .cls-3{fill:#ed3551;}
ul.contact-list li a:hover #email-icon .cls-4{fill:#fff;}
ul.contact-list li a:hover #email-icon .cls-5{fill:#e76f6a;}


ul.social-links li{
  float: left;
  padding: 0 18px;
}
ul.social-links li a svg{
  width: 56px;
    
}
ul.social-links li a:hover svg .cls-1,
ul.social-links li a:hover svg .cls-2,
ul.social-links li a:hover svg .cls-3{
  -webkit-transition: all .35s ease-in-out; 
  transition: all .35s ease-in-out;
}

ul.social-links li a:hover svg .cls-1{fill:#ed3551;}
ul.social-links li a:hover svg .cls-2{fill:#fff;}
ul.social-links li a:hover svg .cls-3{fill:#e76f6a;}








@media (max-width: 1023px) {
  .stage-1 .grid .col-6-12{
    padding-top: 60px;
  }
}
/*
@media (max-width: 1023px) {
  .stage-5 .fixedimage{
    left: 0;
    display: none;
  }
}*/



.downpad {
  padding: 20px;
}



@media (max-width: 767px) {
  h1,
  .h1,
  h1.huge,
  .h1.huge,
  h1.big,
  .h1.big {
    font-size: 40px!important;
  }

  .lft {
    text-align: left;
  }

  p.small {
    font-size: 18px;
  }

  p.tiny {
    font-size: 14px;
  }

.pnk {
    font-size: 36px!important;
  }

  .logoicon {
    width: 60%
  }
  .ftr {
    width: 40px!important;
    height: 40px!important;

  }

  .ftr .material-icons {
    left: -5px!important;
    top: -6px!important;
    font-size: 22px!important;

  }

 .ftr svg {
    left: -5px!important;
    top: -5px!important;
    height: 18px!important;

  }

  .footericonwap svg {
    left: -7px !important;
  top: -8px !important;
  width: 28px !important;
  height: 28px !important;
  }


  .pr {
    padding-right: 60px;
  }

.whiteSlide .bottom {
    background: -webkit-linear-gradient(rgba(255,255,255,0) 20%, rgba(255,255,255,0.9) 100%)!important;
    background: -o-linear-gradient(rgba(255,255,255,0) 20%, rgba(255,255,255,0.9) 100%)!important;
    background: linear-gradient(rgba(255,255,255,0) 20%, rgba(255,255,255,0.9) 100%)!important; /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 )!important; /* IE6-9 */
  }

.whiteSlide nav.top {
  /*
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%)!important;
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 60%,rgba(255,255,255,0) 100%)!important; 
  background: linear-gradient(to bottom, rgba(255,255,255,1) 60%,rgba(255,255,255,0) 100%)!important; 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 )!important; 
  */  }
  p.hart {
    font-size: 26px!important;
  }

  .sidebar .logo{
      margin-top: 20px!important;
  }


}



/**/

.under-line{
position: relative;
display: inline-block;
}

.under-line-anim {
position: absolute;
bottom: 0;
left: 0;
right: 0;
x:0;
y:0;
}
.under-line-anim-path {
  stroke-dasharray: 164;
  stroke-dashoffset: 150;
  stroke-width: 1.1;
  fill:none;
  stroke:#303030;
  
}

@keyframes dash {
  0% {
    stroke-dashoffset: 150;
    stroke:#303030;
  }
  25% {
    stroke-dashoffset: 0;
    stroke:#303030;
  }
  40% {
    stroke-dashoffset: 0;
    stroke:#303030;
  }
  50% {
    stroke-dashoffset: -170;
    stroke:#303030;
  }
  51%{
    stroke-dashoffset: -170;
    stroke:#ffffff;
  }
  52%{
    stroke-dashoffset: 150;
    stroke:#ffffff;
  }
  53%{
    stroke-dashoffset: 150;
    stroke:#303030;
  }
  
  65% {
    stroke-dashoffset: -170;
    stroke:#303030;
  }
  66%{
    stroke-dashoffset: -170;
    stroke:#ffffff;
  }
  79%{
    stroke-dashoffset: 150;
    stroke:#ffffff;
  }
  80%{
    stroke-dashoffset: 150;
    stroke:#303030;
  }
  100%{
    stroke-dashoffset: 150;
    stroke:#303030;
  }
  
}
